.content {
  width: 100%;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content {
    gap: 0;
  }
}
