.gently {
  position: relative;
  width: 1100px;
  height: 2400px;
  margin: 0 auto;

  // !!! SLIDER !!!

  &__slider {
    position: absolute;
    top: 160px;
    right: 0;
    width: 950px;
    height: 414px;
  }

  &__slider-item {
    position: relative;
  }

  &__slider-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 734px;
    height: 414px;
    border-radius: 32px;
    overflow: hidden;
  }

  &__slider-pagination {
    position: absolute;
    top: 600px;
    right: 285px;
  }

  // !!! EDUCATION !!!

  &__education {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -58%);
    padding: 45px 0 340px;
    width: 1010px;
    border-radius: 56px;
    background-color: var(--white);
  }

  &__education-wrapper {
    width: 840px;
    margin: 0 auto;
  }

  &__education-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__education-item {
    width: 360px;
  }

  &__education-desc {
    font-family: YandexSansTextRegular-wght600, arial, sans-serif;
    font-size: 22px;
  }

  // !!! INSURANCE !!!

  &__insurance {
    position: absolute;
    right: 0;
    bottom: 190px;
    width: 641px;
    padding: 83px 0;
    background-color: var(--green);
    border-radius: 56px;
  }

  &__insurance-wrapper {
    width: 475px;
    margin: 0 auto;
  }

  &__insurance-text {
    font-family: YandexSansTextRegular-wght600, arial, sans-serif;
    font-size: 32px;
    color: var(--white);
    line-height: 130%;
  }
}
