.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--yellow);
  height: 78px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  z-index: 100;

  &__wrapper {
    width: 1106px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    align-self: center;
  }

  &__menu-link:not(:last-child) {
    margin-right: 16px;
  }

  &__btn {
    font-size: 20px;
    line-height: 48px;
  }

  &__btn-container {
    width: 176px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 18px;
    text-align: center;
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header {
    &__wrapper {
      width: 90%;
      height: 55px;
      align-items: center;
    }

    &__logo {
      height: 100%;
    }

    &__logo-img {
      width: 110px;
      height: 100%;
    }

    &__btn {
      width: 124px;
      height: 33px;
      font-size: 14px;
      line-height: 31px;
    }

    &__btn-container {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }

    &__menu {
      display: none;
    }
  }
}

// /* Smartphones (landscape) ----------- */
// @media only screen and (min-width: 321px) {
//   .header {
//     font-family: Helvetica, Arial, sans-serif;
//     font-size: 15px;
//     &__wrapper {
//       width: 90%;
//       height: 72px;
//       align-items: center;
//     }

//     &__logo {
//       height: 100%;
//     }

//     &__logo-img {
//       width: 110px;
//       height: 100%;
//     }

//     &__btn {
//       width: 124px;
//       height: 44px;
//       font-size: 14px;
//       line-height: 42px;
//     }

//     &__btn-container {
//       width: 100%;
//       height: 100%;
//       border-radius: 12px;
//     }
//   }
// }
