.intro {
  position: relative;
  height: 1149px;
  display: flex;
  align-items: center;
  background: url("../img/content/intro-scooter.png") 0 142px / contain
    no-repeat;
  background-size: contain;
  font-family: YandexSansTextRegular-wght-900, arial, sans-serif;

  &__desc {
    position: absolute;
    bottom: 294px;
  }

  &__desc-title {
    width: 538px;
    font-weight: 900;
    font-size: 36px;
    line-height: 110%;
  }

  &__desc-btn {
    font-size: 24px;
    line-height: 76px;
  }

  &__desc-btn-container {
    width: 361px;
    height: 80px;
    background-color: var(--black2);
    color: var(--white);
    border-radius: 20px;
    text-align: center;
  }

  &__desc-btn-container:hover {
    background-color: var(--black);
  }

  &__title {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: url("../img/decor/intro-decor.svg") 38px 30px no-repeat;
  }

  &__title-text {
    width: 704px;
    font-size: 64px;
    color: var(--white);
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .intro {
    height: 980px;
    background: url("../img/content/intro-scooter.jpg") 0 100px / contain
      no-repeat;

    &__desc-title {
      width: 100%;
      font-size: 28px;
    }

    &__desc-btn {
      font-size: 18px;
      line-height: 52px;
    }

    &__desc-btn-container {
      width: 240px;
      height: 50px;
      border-radius: 16px;
    }

    &__title {
      bottom: 50px;
      background: url("../img/decor/intro-decor-mobile.svg") 230px 10px
        no-repeat;
    }

    &__title-text {
      width: 250px;
      font-size: 36px;
    }
  }
}
