@font-face {
  font-family: "YandexSansTextRegular-wght-900";
  src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght-900.woff")
    format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "YandexSansTextRegular-wght600";
  src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght600.woff")
    format("woff");
  font-weight: 600;
}
