html {
  scroll-behavior: smooth;
}

.page {
  font-family: YandexSansTextRegular-wght600, arial, sans-serif;
  background: var(--rgb-yellow);
  background: linear-gradient(
    180deg,
    var(--rgba-yellow) 70%,
    var(--rgba-white) 70%
  );
  color: var(--black);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content;
  align-content: start;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.--container {
  width: 920px;
  margin: 0 auto;
}
