.section-title {
  font-family: YandexSansTextRegular-wght-900;
  font-size: 64px;
  line-height: 110%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section-title {
    font-family: YandexSansTextRegular-wght-900;
    font-size: 36px;
  }
}
