:root {
  --white: #fff;
  --black: #21201f;
  --rar: #252525;
  --yellow: #ffde40;
  --green: #00ca50;

  --rgb-yellow: rgb(255, 222, 64);
  --rgba-yellow: rgba(255, 222, 64, 1);
  --rgba-white: rgba(255, 255, 255, 1);
}
